@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main{
    height: 100vh;

}

section#login{
    width: 90%;
    height: 500px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.51);
}
