@charset "UTF-8";

/* CORES 

AZUL/ROXO: #6100F4
AMARELO:  #F5ED05
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #6100f4;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: relative;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 350px;
    height: auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.233);

    transform: translate(-50%, -50%);
}

div#imagem{
    display: none;
}

div#formulario{
    height: 100%;
    width: 100%;
    
}

div#formulario > h1{
    text-align: center;
    padding-bottom: 10px; 
    font-size: 2.5em;
}

div#formulario > p{
    text-align: center;
    padding-bottom: 10px;
    font-size: 1em;
}

div.campo{
    padding: 10px;
}

input[type="submit"]{
    display: block;
    width: 100%;
    padding: 20px;
    border: 0px;
    border-radius: 8px;
    background-color:#F5ED05 ;
}

input[type="submit"]:hover{
    background-color: #9b9835;
    cursor: pointer;
}

